// Mobile
$White: #ffffff;    // 8
$EerieBlack: #151515;    // 3
$Tundora: #444444;    // 2
$Whiskey: #d5966c;    // 1

$EerieBlack: #151515;    // 20
$White: #ffffff;    // 10
$Whiskey: #d5966c;    // 6
$Mercury: #e9e9e9;    // 4
$Alto: #d8d8d8;    // 2

$fs-18: 1.125rem;    // 5
$fs-50: 3.125rem;    // 3
$fs-16: 1rem;    // 2
$fs-20: 1.25rem;    // 2
$fs-32: 2rem;    // 1
$fs-60: 3.75rem;    // 1

$fw-300: 300;    // 7
$fw-900: 900;    // 5
$fw-800: 800;    // 2

$ff-BigShouldersDisplay: "Big Shoulders Display";    // 7
$ff-Outfit: Outfit;    // 7

$lh-28_18: 1.5555555555555556;    // 5
$lh-45_50: 0.9;    // 3
$lh-24_20: 1.2;    // 2
$lh-26_16: 1.625;    // 2
$lh-32_32: 1;    // 1
$lh-55_60: 0.9166666666666666;

//Tablet
$White: #ffffff;    // 8
$EerieBlack: #151515;    // 3
$Tundora: #444444;    // 2
$Whiskey: #d5966c;    // 1

$EerieBlack: #151515;    // 20
$White: #ffffff;    // 10
$Whiskey: #d5966c;    // 6
$Mercury: #e9e9e9;    // 4
$Alto: #d8d8d8;    // 2

$fs-18: 1.125rem;    // 5
$fs-16: 1rem;    // 2
$fs-20: 1.25rem;    // 2
$fs-50: 3.125rem;    // 2
$fs-32: 2rem;    // 1
$fs-55: 3.4375rem;    // 1
$fs-70: 4.375rem;    // 1

$fw-300: 300;    // 7
$fw-900: 900;    // 5
$fw-800: 800;    // 2

$ff-BigShouldersDisplay: "Big Shoulders Display";    // 7
$ff-Outfit: Outfit;    // 7

$lh-28_18: 1.5555555555555556;    // 5
$lh-24_20: 1.2;    // 2
$lh-26_16: 1.625;    // 2
$lh-45_50: 0.9;    // 2
$lh-32_32: 1;    // 1
$lh-50_55: 0.9090909090909091;    // 1
$lh-65_70: 0.9285714285714286;    // 1


//Desktop
$White: #ffffff;    // 9
$EerieBlack: #151515;    // 3
$Tundora: #444444;    // 2
$Whiskey: #d5966c;    // 1

$EerieBlack: #151515;    // 20
$White: #ffffff;    // 8
$Whiskey: #d5966c;    // 6
$Mercury: #e9e9e9;    // 4
$Alto: #d8d8d8;    // 2

$fs-22: 1.375rem;    // 5
$fs-18: 1.125rem;    // 2
$fs-20: 1.25rem;    // 2
$fs-60: 3.75rem;    // 2
$fs-96: 6rem;    // 2
$fs-36: 2.25rem;    // 1
$fs-70: 4.375rem;    // 1

$fw-300: 300;    // 7
$fw-900: 900;    // 6
$fw-800: 800;    // 2

$ff-BigShouldersDisplay: "Big Shoulders Display";    // 8
$ff-Outfit: Outfit;    // 7

$lh-32_22: 1.4545454545454546;    // 5
$lh-24_20: 1.2;    // 2
$lh-28_18: 1.5555555555555556;    // 2
$lh-60_60: 1;    // 2
$lh-88_96: 0.9166666666666666;    // 2
$lh-36_36: 1;    // 1
$lh-70_70: 1;    // 1

//BreakPoints
$Desktop: 1100px;
$Tablet: 600px;

